/* Import custom font */
@font-face {
    font-family: 'BillyArgel';
    src: url('Billy_Argel_Font.ttf') format('truetype');
}

body, html {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: cursive;
    color: green;
}

h1 {
    color: white;
    font-family: 'BillyArgel';
    background-color: black;
}

p {
    color: rgb(170, 255, 0);
    text-shadow: 0px 5px 5px black;
}

.container {
    display: flex;
    height: 100vh; /* Full height of the viewport */
}

.audio-player, .chat-stuff {
    flex: 1; /* Each section takes up equal space */
    padding: 20px; /* Optional: Add some padding */
    box-sizing: border-box; /* Ensure padding doesn't affect width */
    overflow-y: auto;
    background-color: #8dfb8fba;
}

.audio-player {
    background-color: #ccccccba;
}

#background-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.audio-player, h1, marquee, .main-chat-container, #nickname-container, #current-nickname, #connected-users {
    position: relative;
    z-index: 1;
}

.chat-container {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    
}

.main-chat-container {
    border: 1px dashed #ccc;
    padding: 10px;
    background-color: #ffffff;
    /* position: absolute; */
    /* height: fit-content; */
}

#messages {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#messages li {
    margin-bottom: 5px;
}

#messages li:nth-child(odd) {
    background-color: #f9f9f9;
}

#messages li:nth-child(even) {
    background-color: rgba(235, 235, 235, 0.708);
}

#nickname-container {
    display: flex;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 5px;
}

#nickname {
    flex-grow: 1;
    margin-right: 10px;
    border: none;
    outline: none;
}

#set-nickname {
    flex-shrink: 0;
}

#form {
    display: flex;
    align-items: center;
    display: none;
}

#form input {
    flex-grow: 1;
}

#form button {
    margin-left: 10px;
}

.system-message {
    color: #338485;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .audio-player, .chat-stuff {
        padding: 10px;
    }
}
